/* About */

.about {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
}

.about-image {
    margin-top: 30px;
}


/* Services */

.services > div {
    flex-direction: row;
}

.card {
    width: 400px;
    height: 500px;
    grid-template-columns: 400px;
    grid-template-rows: 220px 250px 60px;
    margin-bottom: 30px;
}

.card *{
    width: 400px;
}

.card img {
    width: 400px;
    height: 200px;
}

.card-text {
    width: 80%;
}

/* Testimonials */

.testimonials {
    width: 100%;

}

.testimonials-area {
    display: flex;
    width: 80%;
}

.tcards {
    width: 100%;
    margin-right: 50px;
}

.tcards img {
    width: 60%;
    height: 60%;
}

/* Contact */

.contact {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
}

.contact-image {
    margin-top: 30px;
}